# ignore adobe illustrator files
*.ai

# ignore files containing filepath secrets
database_setup/db_package/mySecrets.py
deep_learning/create_training_dataset/tf_records/mySecrets.py
deep_learning/train_models/mySecrets.py
deep_learning/create_training_dataset/imageAugmentation/mySecrets.py
deep_learning/implementation/mySecrets.py
deep_learning/train_models/multiModalModels/mySecrets.py
deep_learning/analysis/mySecrets.py